html {
    width: 100%;
    height: 100%;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: aliceblue;
    margin: 0;
    font-size: 16px;
    width: 100%;
    height: 100%;
}

button {
    background-color: aliceblue;
    border: 1px solid lightskyblue;
    border-radius: 4px;
    padding: 0.5em;
    font-size: 0.9em;
    transition: all 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: lightskyblue;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: royalblue;
    color: aliceblue;
    height: 3em;
    font-weight: bold;
}

.header-right {
    display: flex;
    align-items: center;
}

.clock {
    font-size: 13px;
    font-weight: normal;
    text-align: right;
    margin-right: 1.0em;
}

.profile-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid aliceblue;
    border-radius: 1.8em;
    color: aliceblue;
    height: 1.8em;
    width: 1.8em;
    font-size: 1.3em;
    transition: all 0.3s;
}

.profile-circle:hover {
    background-color: aliceblue;
    color: royalblue;
    border-color: royalblue;
    cursor: pointer;
    user-select: none;
}

.popup {
    position: absolute;
    z-index: 99998;
}

.invisible {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.2s, opacity 0.2s;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 0.2s;
}

.access-screen {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
}

.logout-screen {
    background-color: darkgray;
}

.access-card {
    display: flex;
    position: absolute;
    height: 20em;
    width: 40em;
    background-color: aliceblue;
    top: calc(50% - 10em);
    left: calc(50% - 20em);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 2px solid darkgray;
    border-radius: 1em;
    padding: 2em;
    text-align: center;
}

.access-card div {
    margin-bottom: 1em;
}

.access-card input {
    margin-bottom: 1em;
}

.access-card button {
    width: 8em;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.logout-card button {
    width: fit-content;
}

.fake-link {
    color: royalblue;
    text-decoration: underline;
    cursor: pointer;
}

.id-card {
    right: 0.5em;
    font-weight: normal;
    color: black;
    background-color: aliceblue;
    padding: 0.5em;
    border: 1px solid black;
    transition: all 0.3s;
    margin-top: 0.15em;
}

.logout-card {
    height: 32em;
    width: 45em;
    top: calc(50% - 16em);
    left: calc(50% - 22.5em);
}

.logout-card h2 {
    margin-bottom: 0.2em;
}

.logout-card div, .logout-card h3 {
    margin-bottom: 0;
}

.logout-card h3 {
    margin-top: 3em;
}

.logout-card div:nth-child(4) {
    margin-bottom: 1.5em;
}

.logout-card .achievements {
    text-align: left;
}

.logout-card .achievements div {
    margin-bottom: 0;
}

.logout-card .achievements .earned {
    font-style: italic;
}

.logout-card button {
    margin-top: 2em;
}

.id-card div {
    font-size: 13px;
}

.id-card h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.id-card button {
    display: block;
    margin: 0.5em auto auto;
}

.main {
    display: flex;
    height: calc(100% - 3em);
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 4em;
    background-color: lightskyblue;
}

.sidebar div {
    width: 100%;
    display: flex;
    justify-content: center;
    transition: all 0.3s;
}

.sidebar div:not(.active):hover {
    background-color: royalblue;
    cursor: pointer;
}

.sidebar img {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 2.5em;
    height: 2.5em;
}

.sidebar .active {
    background-color: aliceblue;
}

.content-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.email-container {
    display: flex;
}

.email-sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 0.5em;
    padding-top: 0.5em;
    box-sizing: border-box;
}

.email-sidebar div {
    position: relative;
    width: 10em;
    height: 2em;
    border: 1px solid lightskyblue;
    border-radius: 4px;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    line-height: 2em;
    cursor: pointer;
    transition: all 0.3s;
    padding-left: 0.25em;
}

.email-sidebar div:hover {
    background-color: lightskyblue;
}

.email-sidebar .active {
    background-color: lightskyblue;
    cursor: default;
}

.unread-number {
    position: absolute;
    right: 0.25em;
    height: 100%;
    font-weight: bold;
    color: royalblue;
}

.mailbox-list {
    display: flex;
    flex-direction: column;
    max-width: 25em;
    height: 100%;
    border-left: 2px solid darkgray;
    border-right: 2px solid darkgray;
    margin-left: 0.5em;
    overflow-y: auto;
}

.message {
    display: block;
    position: relative;
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid darkgray;
    padding: 0.3em 0.3em 0.3em 1.3em;
    cursor: pointer;
    transition: all 0.2s;
}

.message.unread {
    font-weight: bold;
}

.message.unread::before {
    content: "";
    position: absolute;
    height: 0.6em;
    width: 0.6em;
    background-color: royalblue;
    border-radius: 50%;
    top: calc(50% - 0.3em);
    left: 0.3em;
}

.message.flagged, .email-full-container.flagged .email-full-subject, .email-full-container.flagged .email-full-sender, .email-full-container.flagged .email-full-recipient {
    background-color: lemonchiffon;
}

.message.flagged::after {
    content: "";
    position: absolute;
    height: 0.6em;
    width: 0.6em;
    background-color: orange;
    transform: rotateZ(45deg);
    top: calc(50% - 0.3em);
    left: 0.3em;
}

.message.unread.flagged::before {
    top: calc(40% - 0.3em);
}

.message.unread.flagged::after {
    top: calc(60% - 0.3em);
}

.message:hover {
    background-color: lightgray;
}

.message.selected {
    background-color: lightgray;
    cursor: default;
}

.message-header {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    margin-bottom: 0.2em;
}

.message-sender {
    display: block;
    flex-shrink: 1;
    padding-right: 1em;
}

.message-datetime {
    flex-shrink: 0;
}

.message-subject {
    margin-bottom: 0.3em;
}

.message-preview {
    font-size: 0.8em;
}

.message, .message-sender, .message-subject, .message-preview {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.email-full-container {
    display: none;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    min-width: 50%;
    width: 100%;
    height: 100%;
}

.email-full-container.one-child, .email-full-container.two-children {
    display: flex;
}

.email-full-container > div {
    position: relative;
}

.email-full-container.one-child > div {
    height: 100%;
}

.email-full-container.two-children > div {
    height: 50%;
}

.email-header {
    width: 100%;
    height: 3em;
    padding: 0.5em;
    box-sizing: border-box;
    border-bottom: 1px solid darkgray;
}

.email-full {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: calc(100% - 3em);
    box-sizing: border-box;
}

.email-full-subject, .email-full-sender, .email-full-recipient, .email-full-content {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.email-full-subject {
    font-weight: bold;
    padding-top: 0.5em;
}

.email-full-sender, .email-full-recipient {
    font-size: 0.9em;
}

.email-full-recipient {
    padding-bottom: 0.5em;
    border-bottom: 1px solid darkgray;
}

.email-full-datetime {
    position: absolute;
    top: 0.7em;
    right: 0.5em;
    font-size: 0.9em;
}

.email-full-content {
    padding-top: 0.5em;
    overflow-y: auto;
}

.email-full-container .reply {
    margin-top: 1em;
    padding-left: 0.5em;
    border-left: 2px solid darkgray;
    box-sizing: border-box;
}

.email-full-container .reply-time {
    margin-bottom: 1em;
    font-style: italic;
}

.email-full-container .disclaimer {
    margin-top: 1.5em;
    font-size: 0.7em;
}

.email-full-container ul {
    margin: 0;
}

.email-replier {
    border-top: 2px solid darkgray;
    box-sizing: border-box;
}

.email-replier .email-replier-original {
    margin-top: 0;
    box-sizing: border-box;
}

.email-replier-content, .email-replier-editable, .email-replier-original {
    width: 100%;
}

.email-replier-editable:focus, .email-replier-original:focus {
    outline: none;
}

.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar-title {
    height: 2em;
    line-height: 2em;
    text-align: center;
    margin: 0;
}

.calendar-header, .calendar-month {
    width: 100%;
}

.calendar-header {
    height: 2em;
}

.calendar-month {
    table-layout: fixed;
    box-sizing: border-box;
    flex-grow: 1;
    border-collapse: collapse;
}

.calendar-header td {
    text-align: center;
    line-height: 2em;
    width: calc(100% / 7);
}

.calendar-month td {
    position: relative;
    vertical-align: top;
    width: calc(100% / 7);
    height: calc(100% / 5);
    border: 1px solid darkgray;
    box-sizing: border-box;
    padding: 0.3em;
    line-height: 1.4em;
}

.calendar-month tr:nth-child(1) td {
    height: 0;
    padding: 0;
    border: none;
}

.calendar-event {
    position: relative;
    font-size: 0.9em;
    line-height: 0.9em;
    border: 2px solid aliceblue;
    padding: 0.4em 0.3em 0.3em;
    border-radius: 0.3em;
    background-color: lightskyblue;
    cursor: pointer;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
}

.calendar-event.external {
    background-color: lightsalmon;
}

.calendar-event span:nth-child(1) {
    font-size: 0.9em;
    font-weight: bold;
    padding-right: 0.3em;
}

.calendar-event span:nth-child(2) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.calendar-event-card {
    position: absolute;
    background-color: aliceblue;
    font-size: 0.9em;
    border: 1px solid black;
    width: max-content;
    max-width: 190%;
    box-sizing: border-box;
    border-radius: 0.5em;
    padding: 1em;
    text-wrap: wrap;
    word-wrap: break-word;
}

.todo-container {
    box-sizing: border-box;
    padding-left: 2em;
    padding-right: 2em;
}

.todo-list {
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
}

.todo-list-item {
    cursor: pointer;
    border-bottom: 2px solid aliceblue;
}

.todo-list-item.complete td:nth-child(n+2) {
    opacity: 0.5;
    text-decoration: line-through;
}

.todo-list-item input[type=checkbox] {
    cursor: pointer;
    width: 2em;
    height: 2em;
}

.todo-list-item td {
    padding-left: 0.4em;
    padding-right: 0.4em;
}

.todo-list-item div:nth-child(2) {
    height: 100%;
}

.priority-high {
    background-color: red;
    color: aliceblue;
}

.priority-med {
    background-color: darkorange;
    color: aliceblue;
}